### *Chapter 01 - First Program*

In [1]:
print(2+3)

5

In [2]:
print("Hello world")

Hello world

In [3]:
print("we are learning Python with Ammar")

we are learning Python with Ammar

### *Chapter 0 - Operators*

In [4]:
print(2+3)

5

In [5]:
print(3-1)

2

In [6]:
print(6/2)

3.0

In [7]:
print(2*3)

6

In [8]:
print(13%2)

1

In [9]:
print(6//2)

3

In [10]:
print(2**3)

8

In [11]:
print(4**2/2*5/5+8-4)   # PEMDAS

12.0

### *Chapter 02 - Strings*

In [12]:
print('Test for single quotes')

Test for single quotes

In [13]:
print("Test for double quotes")

Test for double quotes

In [14]:
print("test for triple quotes")

test for triple quotes

In [15]:
print("What's up!")

What's up!

In [16]:
print("Muhammad Faizan Ahmed")

Muhammad Faizan Ahmed

### *Chapter 04 - Comments*

comment helps us to understand the code easily.

In [17]:
print(2+7)   # Adding two numbers

9

In [18]:
#print("Hello World")    # Skipping any specific line of code

### *Chapter 05 - Variables*

Variable is used to store any value like a container

In [19]:
x = 5  # numeric or integer variable
print(x)

5

In [20]:
y = "We are learning Python with Ammar"   # String variable
print(y)

We are learning Python with Ammar

In [21]:
x = 15      # Overwritting previous value of x
print(x)

15

Types of Variable

In [22]:
type(x)

int

In [23]:
type(y)

str

In [24]:
a = 15.7
type(a)

float

**Rules for assigning variable name**

1- The variable should contain letters, numbers or underscores.                                         
2- Do not start with numbers, otherwise error                                                 
3- Spaces are not allowed, otherwise error                                                                 
4- Do not use keywords used in functions(break, mean, median, test etc.), otherwise error                         
5- Short and Descriptive                                                                  
6- Case sensitivity (lowercase, uppercase letters. preferred : lowercase letters)

In [25]:
x_32 = 5    # Rule 1
x_32

5

In [26]:
12x = 10    # Rule 2 - Showing error if variable is not named according to given rules

SyntaxError: invalid syntax (<ipython-input-26-80d50b9ed686>, line 1)

In [27]:
x y = 34    # Rule 3 - Showing error if variable is not named according to given rules

SyntaxError: invalid syntax (<ipython-input-27-050a5d3b574e>, line 1)

In [28]:
break = "Hello"    # Rule 4 - Showing error if variable is not named according to given rules

SyntaxError: invalid syntax (<ipython-input-28-16ddc82d005a>, line 1)

In [29]:
fruit = "Apple"    # Rule 5
fruit

'Apple'

### *Chapter 06 - Input Variables*

In [30]:
# Simple Input function

favorite_player = input("Who's your favorite cricket player? ")
print(favorite_player)

Who's your favorite cricket player? Babar Azam
Babar Azam

In [31]:
# Input Function of 2nd stage

name = input("What is your name? ")
greetings = "Assalam-u-Alaikum!"

print(greetings, name)

What is your name? Muhammad Faizan Ahmed
Assalam-u-Alaikum! Muhammad Faizan Ahmed

In [32]:
# Another way of 2nd stage

name = input("What is your name? ")

print("Hello!", name)

What is your name? Muhammad Faizan Ahmed
Hello! Muhammad Faizan Ahmed

In [33]:
# Input function of 3rd stage

name = input("What is your name? ")
age  = input("How old are you? ")

print("Hello!", name + ". You're still young.")

What is your name? Muhammad Faizan Ahmed
How old are you? 21
Hello! Muhammad Faizan Ahmed. You're still young.

### *Chapter 07 - Conditional Logics*

In [34]:
print(4==4)

True

In [35]:
print(4 != 4)

False

In [36]:
print(5 > 7)

False

In [37]:
print(5 < 7)

True

In [38]:
print(5 <= 7)

True

In [39]:
print(4 >= 3)

True

Application of Logical Operator

In [40]:
zeeshan_age = 3
age_at_school = 5

print(zeeshan_age==age_at_school)

False

In [44]:
zeeshan_age = int(input("How old is zeeshan? "))
age_at_school = 5

print(zeeshan_age >= age_at_school)

How old is zeeshan? 5
True

### *Chapter 08 - Type Conversion*

In [45]:
x = 10 
print(type(x))

<class 'int'>

In [46]:
y = 15.2
print(type(y))

<class 'float'>

In [47]:
x = x*y
print(type(x))

<class 'float'>

In [48]:
name = input("What is your name? ")

print(name, type(str(name)))

What is your name? Muhammad Faizan Ahmed
Muhammad Faizan Ahmed <class 'str'>

### *Chapter 09 - if elif & else*

In [50]:
zeeshan_age = 10
age_at_school = 5

if zeeshan_age == age_at_school:
    print("Zeeshan can go to School.")
    
elif zeeshan_age >= age_at_school:
    print("Zeeshan should join Higher Secondary School.")
    
else:
    print("Zeeshan cannot go to School.")

Zeeshan should join Higher Secondary School.

### *Chapter 10 - Functions*

In [53]:
def Greetings(name):
    print("Hello!", name )
    print("Hello!", name )
    print("Hello!", name )
    print("Hello!", name )
    
    
Greetings("Muhammad Faizan Ahmed")

Hello! Muhammad Faizan Ahmed
Hello! Muhammad Faizan Ahmed
Hello! Muhammad Faizan Ahmed
Hello! Muhammad Faizan Ahmed

**School Calculator**

In [56]:
def school_calculator(name,age):
    
    if age == 5:
        print(name, "can join School.")
        
    elif age > 5:
        print(name, "should join Higher Secondary School.")
        
    else:
        print("You should take care of", name)
        
name = input("What is the child name? ")
age  = int(input("How old is your child ?"))

print("--------------Calculating--------------------")
school_calculator(name,age)

What is the child name? Zeeshan
How old is your child ?13
--------------Calculating--------------------
Zeeshan should join Higher Secondary School.

In [60]:
current_age = int(input("Enter your current age? "))

def future_age_after_10_Years(current_age):
    new_age = current_age + 10
    return new_age
    
New_age = future_age_after_10_Years(current_age)
print("After 10 Years, Your age will be :", New_age)

Enter your current age? 20
After 10 Years, Your age will be : 30

### *Chapter 11 - While & for loops*

In [62]:
# While Loop
x = 0

while x <= 5 :
    print(x)
    x = x+1

0
1
2
3
4
5

In [63]:
# For Loop

for x in range(2,10):
    print(x)

2
3
4
5
6
7
8
9

In [64]:
days = ["Saturday","Sunday","Monday","Tuesday","Wednesday","Thursday","Friday"]

for d in days:
    print(d)

Saturday
Sunday
Monday
Tuesday
Wednesday
Thursday
Friday

In [65]:
# Break Statement

for d in days:
    if d == "Wednesday":
        break
    print(d)

Saturday
Sunday
Monday
Tuesday

In [67]:
# Continue Statement

for d in days:
    if d == "Tuesday":
        continue
    print(d)

Saturday
Sunday
Monday
Wednesday
Thursday
Friday

### *Chapter 12 - Importing Libraries*

In [68]:
import math

In [69]:
print("The value of pi is :", math.pi)

The value of pi is : 3.141592653589793

In [70]:
print("The sin of 30 is :", math.sin(30))

The sin of 30 is : -0.9880316240928618

In [71]:
import statistics

In [72]:
z = [150,250,330,120]

print("The mean is :", statistics.mean(z))

The mean is : 212.5

### *Chapter 13 - Trouble Shooting*

**Types of Error**

1- Syntax Error
2- Runtime Error
3- Semantic Error

In [73]:
print(Hello, Muhammad Faizan Ahmed)    # Syntax Error

SyntaxError: invalid syntax (<ipython-input-73-2bc105073ba4>, line 1)

In [74]:
print(10/0)   # Runtime Error (division by zero)

ZeroDivisionError: division by zero

In [76]:
name = "Muhammad Faizan AHmed"
print("Hello, name")          # Semantic Error (our mistake)

Hello, name