# *Naan-Tikki ML Model*

# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
tikki = pd.read_csv(r"Dataset\Naan_Tikki.csv")
tikki

   Tikki  Naan  Sale
0      3     5    10
1      5     8    15
2      5    10    20
3      9    10    25
4     10    15    30
5     20    15    45

In [3]:
x = tikki[["Tikki","Naan"]]
y = tikki["Sale"]

In [4]:
model = LinearRegression()
model = model.fit(x, y)

model

LinearRegression()

# Prediction

In [5]:
print("Price of Naan Tikki when Naan = 25 and Tikki = 15 :", model.predict([[15,25]]))

Price of Naan Tikki when Naan = 25 and Tikki = 15 : [48.51918998]