# Data Structure Assigment

## **1 - Tuples**

1- ordered collection of elements                                                                          
2- enclose in () round brackets                                                                          
3- different types of elements can be used                                                                                  
4- Once elements are stored you cannot change them(immutable)

In [1]:
tup = (2, "Muhammad Faizan Ahmed", 2.7, False, 78)
tup

(2, 'Muhammad Faizan Ahmed', 2.7, False, 78)

In [2]:
# Checking type
type(tup)

tuple

### Indexing in Tuple

In [3]:
tup[1]

'Muhammad Faizan Ahmed'

In [4]:
tup[3]

False

In [5]:
tup[1:3]    # Last element is exclusive

('Muhammad Faizan Ahmed', 2.7)

In [6]:
tup[1::2]

('Muhammad Faizan Ahmed', False)

In [7]:
# Length of elements in tuple
len(tup)

5

In [8]:
tup2 = ("Python", 3.5, 9, True)
tup2

('Python', 3.5, 9, True)

In [9]:
# Adding two tuples(Concatenation) - adds the elements of second tuple after the first tuple elements
tup3 = tup + tup2
tup3

(2, 'Muhammad Faizan Ahmed', 2.7, False, 78, 'Python', 3.5, 9, True)

In [10]:
# Concatenation + repeat
tup4 = tup*2 + tup2
tup4

(2,
 'Muhammad Faizan Ahmed',
 2.7,
 False,
 78,
 2,
 'Muhammad Faizan Ahmed',
 2.7,
 False,
 78,
 'Python',
 3.5,
 9,
 True)

In [11]:
tup1 = (20,69,73,88,94)
tup1

(20, 69, 73, 88, 94)

In [12]:
# Minimum
min(tup1)

20

In [13]:
# Maximum
max(tup1)

94

In [14]:
# Repeat
tup1 = tup1*2
tup1

(20, 69, 73, 88, 94, 20, 69, 73, 88, 94)

---

## **2 - List**

1- ordered collection of elements                                                                                   
2- enclosed in [] square brackets                                                                                
3- Mutable, we can change the values in the list

In [15]:
list1 = [2, "Muhammad Faiazn Ahmed", True, 3.3]
list1

[2, 'Muhammad Faiazn Ahmed', True, 3.3]

In [16]:
# Checking Type
type(list1)

list

In [17]:
# Length of list
len(list1)

4

### Indexing of List

In [18]:
list1[2]

True

In [19]:
list1[2:4]

[True, 3.3]

In [20]:
list1[1::2]

['Muhammad Faiazn Ahmed', 3.3]

In [21]:
list2 = ["ML Chilla", 23, 5.96, True, "Python Chilla"]
list2

['ML Chilla', 23, 5.96, True, 'Python Chilla']

In [22]:
list1

[2, 'Muhammad Faiazn Ahmed', True, 3.3]

In [23]:
# Concatenation
list1 + list2

[2,
 'Muhammad Faiazn Ahmed',
 True,
 3.3,
 'ML Chilla',
 23,
 5.96,
 True,
 'Python Chilla']

In [24]:
# Repeatation
list1*2

[2, 'Muhammad Faiazn Ahmed', True, 3.3, 2, 'Muhammad Faiazn Ahmed', True, 3.3]

### **List Operation**

In [25]:
# Reverse function

list1.reverse()
list1

[3.3, True, 'Muhammad Faiazn Ahmed', 2]

In [26]:
# Append function - add the element in last location of the last

list1.append("Hello! Ammar Bhai")
list1

[3.3, True, 'Muhammad Faiazn Ahmed', 2, 'Hello! Ammar Bhai']

In [27]:
# Clear function - clears the whole list

list1.clear()
list1

[]

In [28]:
list2

['ML Chilla', 23, 5.96, True, 'Python Chilla']

In [29]:
# Pop function - Removes the last element

list2.pop()
list2

['ML Chilla', 23, 5.96, True]

## **Assignmnet Project - Count Function**

In [30]:
# Count function - counts the no. of element present in the list
list2.count("ML Chilla")

1

In [31]:
# Copy function - copies the same list in another variable

list3 = list2.copy()
list3

['ML Chilla', 23, 5.96, True]

In [32]:
list2

['ML Chilla', 23, 5.96, True]

In [33]:
list4 = ["Ammar Bhai", "Muhammad Faizan Ahmed", 5, 7.9, True]
list4

['Ammar Bhai', 'Muhammad Faizan Ahmed', 5, 7.9, True]

In [34]:
# Extend function - add one list in another list at the end

list2.extend(list4)
list2

['ML Chilla',
 23,
 5.96,
 True,
 'Ammar Bhai',
 'Muhammad Faizan Ahmed',
 5,
 7.9,
 True]

In [35]:
list5 = [29, 19, 57, 45, 30, 100, 22]
list5

[29, 19, 57, 45, 30, 100, 22]

In [36]:
# Sort function - sorts the elements of the list

list5.sort()
list5

[19, 22, 29, 30, 45, 57, 100]

In [37]:
list2

['ML Chilla',
 23,
 5.96,
 True,
 'Ammar Bhai',
 'Muhammad Faizan Ahmed',
 5,
 7.9,
 True]

In [38]:
# Index function - gives the index of any element present in the list
list2.index("Ammar Bhai")

4

In [39]:
# Insert function - inserts the elements at any particular index
list2.insert(3,"Python Chilla")
list2

['ML Chilla',
 23,
 5.96,
 'Python Chilla',
 True,
 'Ammar Bhai',
 'Muhammad Faizan Ahmed',
 5,
 7.9,
 True]

In [40]:
# Remove function - removes any particular element in the list
list2.remove("Ammar Bhai")
list2

['ML Chilla',
 23,
 5.96,
 'Python Chilla',
 True,
 'Muhammad Faizan Ahmed',
 5,
 7.9,
 True]

----

## **2 - Dictionaries**

1- An unordered collection of elements                                                                        
2- Key and Value                                                                                     
3- enclosed in {} curly brackets                                                                                                 
4- Mutable - values can be changed

In [41]:
# Restaurant Menu

Menu_Prices = {"Biryani" : 100, "Alu Matar" : 80, "Roti" : 12, "Samosa" : 15, "Qourma" : 150}
Menu_Prices

{'Biryani': 100, 'Alu Matar': 80, 'Roti': 12, 'Samosa': 15, 'Qourma': 150}

In [42]:
# Checking Type
type(Menu_Prices)

dict

### List Operation

In [43]:
# Keys function - Extracts Keys 

Menu_Prices.keys()

dict_keys(['Biryani', 'Alu Matar', 'Roti', 'Samosa', 'Qourma'])

In [44]:
# Values function - Extracts Value

Menu_Prices.values()

dict_values([100, 80, 12, 15, 150])

In [45]:
# Items function - Extracts Items

Menu_Prices.items()

dict_items([('Biryani', 100), ('Alu Matar', 80), ('Roti', 12), ('Samosa', 15), ('Qourma', 150)])

In [46]:
# Adding element in dictionary

Menu_Prices["Bhindi"] = 80
Menu_Prices

{'Biryani': 100,
 'Alu Matar': 80,
 'Roti': 12,
 'Samosa': 15,
 'Qourma': 150,
 'Bhindi': 80}

In [47]:
# Updating the values

Menu_Prices["Samosa"] = 20
Menu_Prices

{'Biryani': 100,
 'Alu Matar': 80,
 'Roti': 12,
 'Samosa': 20,
 'Qourma': 150,
 'Bhindi': 80}

In [48]:
Menu2_Prices = {"Snacks" : 50, "Chocolate" : 20, "Biscuit" : 10}
Menu2_Prices

{'Snacks': 50, 'Chocolate': 20, 'Biscuit': 10}

In [49]:
# Update function

Menu_Prices.update(Menu2_Prices)
Menu_Prices

{'Biryani': 100,
 'Alu Matar': 80,
 'Roti': 12,
 'Samosa': 20,
 'Qourma': 150,
 'Bhindi': 80,
 'Snacks': 50,
 'Chocolate': 20,
 'Biscuit': 10}

In [50]:
# Clear function - clears the dictionary

Menu2_Prices.clear()
Menu2_Prices

{}

In [51]:
# Get function - getting the value of given key

Menu_Prices.get("Biryani")

100

In [52]:
# Copy function - copies all the elements from dictionary into another variable

New_Menu = Menu_Prices.copy()


New_Menu

{'Biryani': 100,
 'Alu Matar': 80,
 'Roti': 12,
 'Samosa': 20,
 'Qourma': 150,
 'Bhindi': 80,
 'Snacks': 50,
 'Chocolate': 20,
 'Biscuit': 10}

In [53]:
# Popitem function - removes the last element from dictionary

New_Menu.popitem()
New_Menu

{'Biryani': 100,
 'Alu Matar': 80,
 'Roti': 12,
 'Samosa': 20,
 'Qourma': 150,
 'Bhindi': 80,
 'Snacks': 50,
 'Chocolate': 20}

In [54]:
# Pop function - removes any particular element from dictionary

New_Menu.pop("Biryani")
New_Menu

{'Alu Matar': 80,
 'Roti': 12,
 'Samosa': 20,
 'Qourma': 150,
 'Bhindi': 80,
 'Snacks': 50,
 'Chocolate': 20}

In [55]:
# fromkeys function - assigns each letter a specific value 

New_Menu.fromkeys("Alu Matar", 10)

{'A': 10, 'l': 10, 'u': 10, ' ': 10, 'M': 10, 'a': 10, 't': 10, 'r': 10}

In [56]:
# setdefault function - gets the value of any particular key

New_Menu.setdefault("Snacks")

50

---

## **4 - Set**

1- Unordered and Indexed                                                                                        
2- enclose in {} curly braces                                                                                             
3- No duplicates are allowed

In [57]:
set1 = {2, 89.4, "Muhammad Faizan Ahmed", False}   
set1

{2, 89.4, False, 'Muhammad Faizan Ahmed'}

In [58]:
# Checking Type

type(set1)

set

In [59]:
# Length of Set

len(set1)

4

### Set Operation

In [60]:
# Adding elements in Set

set1.add("ML Chilla")
set1

{2, 89.4, False, 'ML Chilla', 'Muhammad Faizan Ahmed'}

In [61]:
# Removing elements from Set

set1.remove(89.4)
set1

{2, False, 'ML Chilla', 'Muhammad Faizan Ahmed'}

In [62]:
set1

{2, False, 'ML Chilla', 'Muhammad Faizan Ahmed'}

In [63]:
# Copy function = copies the same set into another variable

set2 = set1.copy()
set2

{2, False, 'ML Chilla', 'Muhammad Faizan Ahmed'}

In [64]:
# Clear function - clears the whole set

set1.clear()
set1

set()

In [65]:
# Pop function - randomly removes the element from set

set2.pop()
set2

{2, 'ML Chilla', 'Muhammad Faizan Ahmed'}

In [66]:
set1.add(5)
set1

{5}

In [67]:
# Union function 

set3 = {2,5,6,8}
set4 = {2,7,6,1,8,5,9}

set3.union(set4)

{1, 2, 5, 6, 7, 8, 9}

In [68]:
# Intersection Function 

set3.intersection(set4)

{2, 5, 6, 8}

In [69]:
# Subset function - checks whether one set is subset of another set

set3.issubset(set4)

True

In [70]:
# Superset function - checks whether one set is superset of another set

set4.issuperset(set3)

True

In [71]:
# Difference function

set4.difference(set3)

{1, 7, 9}

In [72]:
set4

{1, 2, 5, 6, 7, 8, 9}

In [73]:
# Discard function

set4.discard(5)
set4

{1, 2, 6, 7, 8, 9}

In [74]:
# Symmetric function

set4.symmetric_difference(set3)

{1, 5, 7, 9}

In [75]:
# Isdisjoint function

set4.isdisjoint(set3)

False