# Multiple Linear Regression Model

# Step 1 - *Importing Libraries*

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

# Step 2 - *Importing Dataset*

In [2]:
df = pd.read_csv("Dataset\Salary_Data.csv")
df.head()

   YearsExperience   Age  Salary
0              1.1  21.0   39343
1              1.3  21.5   46205
2              1.5  21.7   37731
3              2.0  22.0   43525
4              2.2  22.2   39891

# Step 3 - *Splitting dataset into training data and testing data*

In [3]:
x = df[["YearsExperience","Age"]]
y = df["Salary"]

# Step 4 - *Fit Linear Regression Model*

In [4]:
model = LinearRegression()
model = model.fit(x, y)

model

LinearRegression()

In [5]:
# Coefficients of Model

model.coef_

array([6153.35330145, 1836.01359426])

In [6]:
# Intercept of Model

b = model.intercept_
b

-6661.98719881312

In [7]:
i1 = model.coef_[0]
i2 = model.coef_[1]

# Step 5 - *Prediction*

 **Formula for Prediction : Salary = i1*YearsExperience + 12*Age + b**

In [8]:
model.predict([[1.1,21]])

array([38662.98691225])